@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

// Set your brand colors
$green: #bff47b;
$tan: #f1f2ec;
// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
$primary: $green;
$grey-light: $tan;
$control-border-width: 2px;
$family-serif: "Ubuntu", serif;
$family-primary: $family-serif;
$card-background-color: $tan;

@import "../node_modules/bulma/bulma.sass";

.card {
  border-style: solid;
  border-color: #444443;
  border-width: 2px;
}

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
