@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

// Set your brand colors
$green: #bff47b;
$tan: #f1f2ec;
// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
$primary: $green;
$grey-light: $tan;
$control-border-width: 2px;
$family-serif: "Ubuntu", serif;
$family-primary: $family-serif;
$card-background-color: $tan;

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/form/_all";

@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/media.sass";

@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";

@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "../node_modules/bulma/sass/base/generic.sass";
@import "../node_modules/bulma/sass/base/minireset.sass";

.card {
  border-style: solid;
  border-color: #444443;
  border-width: 2px;
}

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
